/* =============================================

全体の設定

============================================= */

$mainColor: #0D72BC;
$subColor: #97B9D1;
$CheckDefaultColor: #F5F5F8;
$awesomeColor: #BFE263;
$errorColor: #F4BD67;

body{
    font-size: 16px;
}

p {
    margin-bottom: 0;
}

@media (max-width:767px) {
    body {
        font-size: 12px;
    }
}

/* =============================================

HEADER

============================================= */

.header__container {
    max-width: 1200px;
}

.logo {
    &__img {
        width: 130px;
    }

    &__sentence {
        color: $subColor;
    }
}

.record {
    background: linear-gradient(90deg, #4780eb 35%, #00d4ff 100%);
    border-radius: 20px;
}

/* =============================================

TOP画面

============================================= */

// 時間表示
.display {
    &__time {
        width: 32%;
        border-radius: 10px;

        &__when {
            color: $mainColor;
            text-align: center;
        }

        &__number {
            font-weight: bold;
            font-size: 25px;
            text-align: center;
        }

        &__unit {
            color: $subColor;
            text-align: center;
        }
    }
}

// グラフ
.graph {
    border-radius: 10px;

    p {
        font-size: 0.9rem;
    }
}

.donut {
    width: 47%;
}

.label {

    li {
        display: inline;
        list-style-type: none;
        position: relative;
        font-size: 0.6rem;
        padding-left: 1.3em;
        line-height: 30px;
    }

    li:before {
        border-radius: 50%;
        width: 10px;
        height: 10px;
        display: block;
        position: absolute;
        left: 0;
        top: 0.3em;
        content: "";
    }

    li:nth-child(1):before {
        background: #0445EC;
    }
    li:nth-child(2):before {
        background: #0D72BD;
    }
    li:nth-child(3):before {
        background: #1EBEDE;
    }
    li:nth-child(4):before {
        background: #3CCEFE;
    }
    li:nth-child(5):before {
        background: #B29EF3;
    }
    li:nth-child(6):before {
        background: #6D46EC;
    }
    li:nth-child(7):before {
        background: #6D46EC;
    }
    li:nth-child(8):before {
        background: #4A17EF;
    }
}

/* =============================================

FOOTER

============================================= */
.previous {
    color: $mainColor;
}

.following {
    color: $subColor;
}

.footer__record {
    width: 100%;
    margin: 0 auto;
    background: linear-gradient(90deg, #4780eb 35%, #00d4ff 100%);
    border-radius: 20px;
}

/* =============================================

MODAL

============================================= */

.modal-header {
    border: none;
}
.modal__area {
    width: 90%;
    max-width: 1100px;
}

.modal__content {
    border-radius: 30px;
}

@media (max-width: 767px) {

    .modal__area {
        width: 100%;
        margin: 200px 0 0;
    }

    .modal__content {
        max-width: 767px;
        border-radius: 30px 30px 0 0;
    }
}

// 学習日
.studyInput {
    background-color: $CheckDefaultColor;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 60px;
    margin: 0 auto;
}

.studyInputTextarea {
    background-color: $CheckDefaultColor;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 200px;
}

// チェックボックス
.contents {

    list-style: none;
    display: flex;
    flex-wrap: wrap;

    li {
        display: inline;
        list-style: none;
        margin-right: 3px;
    }

    &__label {
        cursor: pointer;
        background: $CheckDefaultColor;
        border-radius: 50px;
        width: fit-content;
        display: inline;

        &__input {
            width: 0;
            opacity: 0;
        }

        &__input + &__dummy::before {
            content: "";
            display: block;
            position: absolute;
            top: 25%;
            left: 60%;
            width: 35%;
            height: 2px;
            border-radius: 2px;
            transform: translate(-6px, 5px) rotateZ(-135deg);
            transform-origin: 2px 2px;
            background: #fff;
        }

        &__input + &__dummy::after {
            content: "";
            display: block;
            position: absolute;
            top: 30%;
            left: 75%;
            width: 70%;
            height: 2px;
            border-radius: 2px;
            transform: translate(-6px, 5px) rotateZ(-45deg);
            transform-origin: 2px 2px;
            background: #fff;
        }

        &__input:checked + &__dummy {
            background-color: $mainColor;
        }

        &__dummy {
            position: relative;
            top: 0;
            left: 0;
            display: block;
            width: 20px;
            height: 20px;
            border: solid 2px transparent;
            background: rgba(0, 0, 0, .15);
            border-radius: 50%;
            transition: all .15s linear;
        }

        &__text {
            margin-left: 12px;
        }
    }
}

/* =============================================

LOADING

============================================= */
.loader {
    display: none;
    font-size: 10px;
    margin: 30vh auto;
    text-indent: -9999em;
    width: 11em;
    height: 11em;
    border-radius: 50%;
    background: #ffffff;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader:before {
    width: 50%;
    height: 50%;
    background: linear-gradient(-135deg, #3ccfff, #0f71bc);
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader:after {
    background: white;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes load3 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

@keyframes load3 {
0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}
}

/* =============================================

AWESOME

============================================= */

.awesome {
    display: none;
    text-align: center;
    margin: 150px auto;

    &__sentence {
        color: $awesomeColor;
    }

    &__checked {
        background-color: $awesomeColor;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        margin: 0 auto;

        &__mark {
            color: #fff;
            font-size: 45px;
            margin: 0;
            position: relative;
        }

        &__mark::before {
            content: '';
            display: block;
            position: absolute;
            top: 20px;
            left: 15px;
            width: 40px;
            height: 20px;
            border-left: 4px solid #fff;
            border-bottom: 4px solid #fff;
            transform: rotate(-45deg);
        }
    }
}

@media (max-width: 767px) {

    .awesome, .loader {
        margin-bottom: 400px;
    }
}

/* =============================================

ERROR

============================================= */

.error {
    text-align: center;
    margin-top: 150px;

    &__sentence {
        color: $errorColor;
    }

    &__exclamation {
        background-color: $errorColor;
        border-radius: 50%;
        width: 70px;
        height: 70px;
        margin: 0 auto;

        &__mark {
            color: #fff;
            font-size: 50px;
            margin: 0;
        }
    }
}